/* Base Styles -------------------- */

.container {
  max-width: 95%;
  @include media-breakpoint-up(xl) {
  max-width: 1200px;
   }
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
